h1{
    text-align: center;
    font-size: 36;
    font-family: sans-serif;
    font-weight: 200;
    font-style:normal;
}
h2{
    text-align: center;
    font-size: 36;
    font-family: sans-serif;
    font-weight: 200;
    font-style: normal;
}
h3{
    font-size: 40;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
 img.hover{
     height: 500;
     width: 500;
     padding: 10;
     margin: 10;
     cursor: pointer;
 }
 span{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
